@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  /* colors shadcn to tw shorthand */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-bg-primary: hsl(var(--background));
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-tertiary: var(--bg-tertiary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-gradient: var(--text-gradient);

  /* gradient special colors */
  --color-lavender: #c084fc;
  --color-salmon: #fb7185;
  --color-blue: #3b82f6;
  --color-cyan: #22d3ee;
  /* flourishes special colors */
    /* code keyword colors */
    --color-purple: #C27AFF;
    --color-sky: #51A2FF;
    --color-yellow: #E6BE82;
    --color-red: #FF637E;
    --color-red-code: #EC6765;
    --color-orange: #FF8904;
    --color-green: #65C466;
  /* md2: used to break the bounce timeline & pen squiggle flourishes in the CD Identity Section */
  /* wide: used to break the grid flourish in the CD Identity Section */
  --breakpoint-md2: 850px; 
  --breakpoint-wide: 1350px;

}

html,
body,
:root {
  height: 100%;
  width: 100%;
}

@layer base {
  /* light mode styles */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --bg-secondary: color-mix(in oklch, var(--color-neutral-100) 95%, transparent);
    --bg-tertiary: var(--color-neutral-200);

    --text-primary: var(--color-neutral-800);
    --text-secondary: var(--color-neutral-600);
    --text-tertiary: var(--color-neutral-500);
    --text-gradient: linear-gradient(150deg, var(--color-neutral-900), var(--color-neutral-400));
    /* purple -> pink */
    --gradient-p: linear-gradient(150deg, #c084fc, #fb7185);
    /* cyan -> blue */
    --gradient-b: linear-gradient(150deg, #3b82f6, #22d3ee);
    
  }
  /* dark mode styles */
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --bg-secondary: color-mix(in oklch, var(--color-neutral-900) 95%, transparent);
    --bg-tertiary: var(--color-neutral-800);
    
    --text-primary: var(--color-neutral-200);
    --text-secondary: var(--color-neutral-400);
    --text-tertiary: var(--color-neutral-500);
    --text-gradient: linear-gradient(150deg, var(--color-neutral-200), var(--color-neutral-400));
    /* purple -> pink */
    --gradient-p: linear-gradient(150deg, #c084fc, #fb7185);
    /* cyan -> blue */
    --gradient-b: linear-gradient(150deg, #3b82f6, #22d3ee);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply font-bold w-fit md:text-9xl/tight sm:text-8xl/tight text-7xl/tight;
  }
  h2 {
    @apply font-bold w-fit text-text-primary md:text-6xl/tight sm:text-5xl/tight text-4xl/tight;
  }
  h3 {
    @apply text-4xl/tight font-bold w-fit text-text-secondary dark:text-gradient;
  }
  h4 {
    @apply text-[16px] font-bold tracking-wider w-fit text-text-tertiary uppercase mb-6;
  }
  p {
    @apply text-text-secondary text-[16px];
  }
}

/* hoverable unless onMobile */
@media (hover: hover) and (pointer: fine) {
  [data-custom-cursor="true"],
  [data-custom-cursor="true"] * {
    cursor: none !important;
  }

  .hoverable {
    @apply hover:cursor-pointer transition-colors duration-200;
  }
  .hoverable-sidebar-items {
    @apply hover:dark:text-neutral-400 hover:text-neutral-500;
  }
}

@utility flex-center {
    @apply flex justify-center items-center;
}
@utility flex-center-col {
    @apply flex-center flex-col;
}
@utility flex-start {
    @apply flex justify-start items-center;
}

@utility flex-between {
    @apply flex items-center justify-between;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility abs-x-center {
    @apply absolute left-1/2 -translate-x-1/2;
}

@utility abs-y-center {
    @apply absolute top-1/2 -translate-y-1/2;
}

@utility border-debug {
    @apply border border-amber-500;
}

@utility border-debug-p {
    @apply border border-indigo-500;
}

@utility border-debug-l {
  @apply border border-lime-500;
}

@utility text-gradient {
  background-image: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility text-gradient-p {
  background-image: var(--gradient-p);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility text-gradient-b {
  background-image: var(--gradient-b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility gap-card {
  @apply gap-4;
}
@utility gap-ptag {
  @apply gap-4;
}

@utility mt-subsection {
  @apply mt-10;
}
@utility mt-section {
  @apply mt-20;
}


@layer components {
  main {
    @apply w-full overflow-x-hidden;
  }
  #typewriter-container {
    --whiteBar: transparent;
    @apply w-auto h-auto flex flex-col items-center;
    
    [class*="line-"], [class^="line-"] {
        @apply inline-block border-r-2 whitespace-nowrap overflow-hidden text-center font-mono;
        border-right-color: var(--whiteBar);
    }
    .anim-typewriter {
        width: 0;
    }
  }
  #rolling-text-container {
    .tube {
        @apply relative w-35 h-15;
        .line {
            @apply abs-center text-7xl whitespace-nowrap text-center tracking-tighter font-bold;
        }
        .split-char-class {
            @apply bg-linear-to-r from-cyan to-blue dark:from-lavender dark:to-salmon bg-clip-text text-transparent;
        }
    }
  }

  #motion-path-tl {
        .keyframe-container {
            @apply absolute w-35 h-35 border-2 border-dashed border-neutral-300 flex-center rounded-lg;
        }
        .initial {
            @apply sm:left-[60%] right-[2%] top-[5%];
        }
        .second {
            @apply sm:left-[10%] left-[0%] top-[25%];
        }
        .third {
            @apply sm:right-[10%] right-[0%] top-[45%];
        }
        .fourth {
            @apply sm:left-[20%] left-[0%] top-[65%];
        }
        .fifth {
            @apply sm:left-[60%] right-[0%] top-[80%];
        }
        .sixth {
            @apply sm:left-[15%] left-[0%] top-[95%];
        }
    }
}


/* shadcn css
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
*/